<section class="mon_mega">
  <h3 class="mega_name">{{name}}</h3>

  <dl class="mega_info">
    <dt>Ability</dt>
    <dd>{{ability}}</dd>

    <dt>Type</dt>
    <dd>{{type1}}{{#if type2}} / {{type2}}{{/if}}</dd>
  </dl>

  <table class="mega_stats">
    <caption>Stats</caption>

    <thead>
      <tr>
        <th scope="col">Stat</th>
        <th scope="col">Change</th>
        <th scope="col">Total</th>
      </tr>
    </thead>

    {{#each stats}}
    <tr>
      <th scope="row">{{@key}}</th>
      <td>{{this.new}}</td>
      <td>{{this.diff}}</td>
    </tr>
    {{/each}}
  </table>
</section>
