<section class="mon_mega">
  <h3 class="mega_name">{{name}}</h3>

  <dl class="mega_info">
    <dt>Ability
    <dd>{{ability}}

    <dt>Type
    <dd>{{type1}}{{#if type2}}&thinsp;/&thinsp;{{type2}}{{/if}}
  </dl>

  <table class="mega_stats">
    <caption>Stats</caption>

    <thead>
      <tr>
        <th>Stat
        <th>Change
        <th>Total
    </thead>

    {{#each stats}}
    <tr>
      <th>{{@key}}
      <td>{{this.new}}
      <td>{{this.diff}}
    {{/each}}
  </table>
</section>
