{{> start }}

<title>Pokédex | Pokémon: Tabletop Version</title>

<style>
  table {
    display: inline-table;
  }

  dl {
    display: inline-block;
    vertical-align: bottom;
    margin: 1em;
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-left: 2ch;
  }

  .mon_pic {
    border-top-left-radius: 30%;
    width: 500px;
    vertical-align: bottom;
  }

  .mon_stats,
  .mon_skills {
    vertical-align: bottom;
  }

  .mon_stats th,
  .mon_stats td,
  .mon_skills th,
  .mon_skills td {
    text-align: right;
  }

  .mon_moves {
    display: inline-block;
    vertical-align: top;
  }

  .moves_heading {
    margin: 0 0 0.5em;
  }

  .moves_table {
    vertical-align: top;
    border-spacing: 0.5em 0;
  }

  .moves_table th:first-child {
    text-align: right;
  }

  .moves_list {
    margin: 0;
    list-style: outside;
    columns: 2 8em;
  }

  .moves_list > li {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }
</style>

{{#each pokemon}}
  <article class="mon" id="{{slugify name}}">
    <h2><a href="#{{slugify name}}">{{name}}</a></h2>

    <img alt="" src="./img/{{slugify name}}.png"
      class="mon_pic">

    <dl class="mon_abilities">
      <dt>Type
      <dd>{{type1}}{{#if type2}}&thinsp;/&thinsp;{{type2}}{{/if}}

      <dt>Starting Abilities
      {{#each startingAbilities}}
        <dd><a href="/ptv/abilities/#{{slugify this}}">{{this}}</a>
      {{/each}}

      <dt>Level 5 Abilities
      {{#each level5Abilities}}
        <dd><a href="/ptv/abilities/#{{slugify this}}">{{this}}</a>
      {{/each}}
    </dl>

    <table class="mon_stats">
      {{#each stats}}
      <tr>
      <th>{{@key}}
      <td>{{this}}
      {{/each}}
    </table>

    <table class="mon_skills">
      {{#each skills}}
      <tr>
      <th>{{@key}}
      <td>{{this}}
      {{/each}}
    </table>

    <dl class="mon_info">
      <dt>Height:
      <dd>{{height}}

      <dt>Weight:
      <dd>{{weight}}&thinsp;lbs.

      <dt>Egg Groups:
      <dd>{{eggGroups}}
    </dl>

    {{> moveset moves=moves evolvesFrom=evolvesFrom}}
  </article>
{{/each}}
