{{#with mon}}
<article class="mon" id="{{slugify name}}">
  <h2><a href="#{{slugify name}}">{{name}}</a></h2>

  {{#with (lookup @root.[dex-images] (slugify name)) as | image | }}
    {{#if image}}
      {{#if secret}}
        <a class="mon_shh"
          href="../img/{{slugify ../name}}--secret.jpg?{{hash}}"
        >
      {{/if}}
        <img alt="" class="mon_pic"
          src="../img/{{slugify ../name}}.jpg?{{hash}}"
          width="{{sizes.[0]}}" height="{{sizes.[1]}}"
          loading="lazy">
      {{#if image.secret}}</a>{{/if}}

      {{#if toggle}}
        <img alt="" class="mon_pic"
          src="../img/{{slugify ../name}}--toggle.jpg?{{hash}}"
          width="{{sizes.[0]}}" height="{{sizes.[1]}}"
          loading="lazy">
      {{/if}}
    {{else}}
      {{log name 'not found in dex image data' level='error'}}
    {{/if}}
  {{/with}}

  <dl class="mon_abilities">
    <dt>Type
    <dd>{{type1}}{{#if type2}}&thinsp;/&thinsp;{{type2}}{{/if}}


    {{#*inline "formatAbilities" }}
      {{#each abilities~}}
        <a href="/ptv/abilities/#{{slugify this}}">{{this}}</a>{{#unless @last}}&thinsp;/&thinsp;{{/unless}}
      {{~/each}}
    {{/inline}}

    <dt>Starting Abilit{{#if abilities.start.[1]}}ies{{else}}y{{/if}}
    {{#each abilities.start}}
      <dd>{{>formatAbilities abilities=this}}
    {{/each}}

    <dt>Level 5 Abilit{{#if abilities.level5.[1]}}ies{{else}}y{{/if}}
    {{#each abilities.level5}}
      <dd>{{>formatAbilities abilities=this}}
    {{/each}}
  </dl>

  {{!-- Is this more or less accessible? https://codepen.io/tigt/pen/d461247540d53f36c247bf9c9c2d51b6?editors=1100 --}}

  <table class="mon_stats">
    {{#each stats}}
    <tr>
    <th>{{@key}}
    <td>{{this}}
    {{/each}}
  </table>

  <table class="mon_skills">
    {{#each skills}}
    <tr>
    <th>{{@key}}
    <td>{{this}}
    {{/each}}
  </table>

  <dl class="mon_info">
    <dt>Height:&nbsp;
    <dd>{{height}}

    <dt>Weight:&nbsp;
    <dd>{{weight}}&thinsp;lbs.

    <dt>Egg Group{{#if eggGroups.[1]}}s{{/if}}:&nbsp;
    <dd>{{#each eggGroups}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}

    {{#if catchDC}}
      <dt>Catch DC:&nbsp;
      <dd>{{catchDC}}
    {{/if}}

    {{#if evolves.from}}
      <dt>Evolves from:&nbsp;
      <dd>{{evolves.from}} ({{evolves.by}})
    {{/if}}
  </dl>

  <div class="mon_entry">
  {{{blurb}}}
  </div>

  {{> moveset moves=moves evolvesFrom=evolves.from}}
</article>
{{/with}}