{{#with moves}}
{{#if starting.[0]}}
<section class="mon_moves">
  <h3 class="moves_heading">Moves</h3>

  {{#*inline "formatMoves" }}
    {{#each moves}}
      {{#each oneOf~}}
        <a href="/ptv/moves/#{{slugify this}}">{{this}}</a>
        {{~#unless @last}}&thinsp;/&thinsp;{{/unless~}}
      {{~else}}
        <a href="/ptv/moves/#{{slugify this}}">{{this}}</a>
        {{~#unless @last}}, {{/unless}}
      {{/each}}
    {{/each}}
  {{/inline}}

  <table class="moves_table">
    <thead>
      <th>Level
      <th>Learns
    </thead>
    {{#if form}}
    <tr>
      <th>Form
      <td>{{>formatMoves moves=form}}
    </tr>
    {{/if}}
    <tr>
      <th>1
      <td>{{>formatMoves moves=starting}}
    </tr>
    {{#each levelUp}}
    <tr>
      <th>{{@key}}
      <td>{{#if this}}
            {{>formatMoves moves=this}}
          {{else}}
            —
          {{/if}}
    {{/each}}
  </table>

  <section class="tutor-moves">
    <h4 class="tutor-moves_heading">Tutor Moves</h4>

    <ul class="tutor-moves_list">
    {{#each tutor}}
      <li><a href="/ptv/moves/#{{slugify this}}">{{this}}</a>
    {{/each}}
    </ul>
  </section>
</section>
{{/if}}
{{/with}}