---
pagination:
  data: redirects
  size: 1
  alias: mon
permalink: "dex/for/{{mon.name}}/"
---

<!doctype html>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0;url={{mon.url}}">
<title>Dex redirect for {{mon.name}}</title>
<link rel="canonical" href="{{mon.url}}">

<p>Redirecting to <a href="{{mon.url}}">the Pokédex page for {{mon.name}}</a>…
