---
data: abilities
permalink: abilities/
layout: base
title: Abilities
---

<style>
  .abilityList_item {
    max-width: 30em;
    margin: 1em 1em 3em;
  }
  .abilityList_item:target {
    background: rgba(255, 255, 0, 0.1);
  }

  .ability_name {
    font: 700 1.3em/1.1 Helvetica, sans-serif;
  }

  p {
    margin: 0.6em 0;
  }

  .ability_usedBy {
    font-size: smaller;
  }
</style>

<main>
  <h1>Abilities</h1>

  <dl class="abilityList">
    {{#abilities}}
      <div class="abilityList_item" id="{{slugify name}}">
        <dt class="ability_name"><a rel="bookmark" href="#{{slugify name}}">{{name}}</a>

        {{#if bonusStats}}
          <dd class="ability_bonusStats">{{bonusStats}}
        {{/if}}

        <dd class="ability_desc">{{{description}}}

        {{#if usedBy}}
          <dd class="ability_usedBy">Found on: {{#each usedBy}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
        {{/if}}
      </div>
    {{/abilities}}
  </dl>
</main>
