---
data: moves
permalink: moves/
layout: base
title: Moves
---

<style>
  :target {
    background: rgba(255, 255, 0, 0.1);
    outline: 1px dashed #b02a32;
  }

  article {
    display: inline-block;
    max-width: 20em;
    margin: 0.5em;
    padding: 0 0.5em;
    vertical-align: top;
  }
</style>

<h1>Moves</h1>

{{#moves}}
  <article id="{{slugify name}}">
    <h2><a href="/moves/{{slugify name}}/">{{name}} ⇢</a></h2>
    <p>{{type}} · {{kind}} · {{ap}} AP
      {{#if power}} · {{power}} Power{{/if}}
      {{#if accuracy}} · {{accuracy}} AC {{/if}}
      · {{range}}
    </p>
    
    {{{description}}}
  </article>
{{/moves}}
