---
pagination:
  data: moves
  size: 1
  alias: move
  resolve: values
permalink: "moves/{{slugify move.name}}/"
eleventyComputed:
  title: "{{move.name}} (Move)"
layout: base
---

<style>
  article {
    margin: 0.5em 1em;
    max-width: 40em;
  }

  dt {
    float: left;
    font-weight: bolder;
  }

  dt:after {
    content: ": ";
    white-space: pre;
  }

  ul {
    margin: 0;
    padding: 0 0 0 1.5ch;
    columns: 8em;
  }
</style>

{{#with move}}
<article>
  <h1>{{name}}</h1>
  <dl>
    <dt>Type<dd>{{type}}
    <dt>Category<dd>{{kind}}
    <dt>PP Cost<dd>{{pp}}
    {{#if power}}
    <dt>Power<dd>{{power}}
    {{/if}}
    {{#if accuracy}}
    <dt>Accuracy<dd>{{accuracy}}
    {{/if}}
    <dt>Range<dd>{{range}}
  </dl>
  
  {{{description}}}
  
  {{#if zEffect}}
    <p><b>Z-Effect:</b> {{zEffect}}</p>
  {{/if}}
  {{#if maxPower}}
    <p><b>MAX Power</b> {{maxPower}}</p>
  {{/if}}

  <h2>Learned by</h2>
  <ul>
  {{#each learnedBy}}
    <li>{{this}}
  {{/each}}
  </ul>

  {{!-- TODO: bulbapedia link?
    Note that it needs the underscores, unlike Wikipedia: <p><a href="https://bulbapedia.bulbagarden.net/wiki/{{name}}_(move)">This Move’s videogame equivalent on Bulbapedia</a></p>
  --}}
</article>
{{/with}}
